@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), no-repeat ,url('https://images.unsplash.com/photo-1710352536361-447b0ea743e1?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
background-size: cover;
background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
    padding: 1.4rem 1rem;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    border-radius: 3rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7)
}

.logo {
    font-size: 1.3rem;
    font-weight: 600;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 0;
}

li {
    padding: 0rem 1.1rem;
    float: left;
    
}

li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .7px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

ul li a {
    position: relative;
}

ul li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

ul li a::before {
    transform: scale(0, 1);
    transition: transform .3s ease;
}

ul li a:hover::before {
    transform: scale(1, 1);
}
li a.active,
li a:hover {
    color:#ffffff;
    transition: all .3s ease-in-out
}

#click {
    display: none;
}

.menu {
    display: none;
}


@media only screen and (max-width:1024px) {
    nav {
        max-width: 98%;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 80%;
    }

    nav {
        max-width: 100%;
    }
}

@media only screen and (max-width:480px) {
    html {
        font-size: 85%;
    }

    header {
        height: 100vh;
    }

    li {
        padding: 1rem 1.1rem;
    }

    .menu {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #1e1e1e;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8)
    }

    ul {
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 4rem;
        left: -100%;
        background-color: #000000b5;
        backdrop-filter: blur(10px);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }
}

.text-container .yan {
    margin-top: -15%;
    margin-left: 33%;
    z-index: 1;
}


.text-container .text-left {
    transform: scale(1.8);
    margin-top: -30%;
    z-index: 2;
}

.text-container .text-rigth {
    transform: scale(1.8);
    margin-top: -23%;
    margin-left: 45%;
    z-index: 2;
}

.text-container .text-nav {
    margin-top: -10%;
    margin-left:23%;
    transform: scale(0.2)
}

.box-img {
    width: 90%;
    height: 100%;
    background-color: #1e1e1e;
    color: white;
    padding: 20px; 
    margin-left: 4%;
    margin-left: 6%;
    margin-top: 10%;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: -1;
}

.Dev-Yan{
    width: 400px;
    height: 400px;
    margin-top: -35%;
    margin-left: 60%;
    background-color: none;
    position:relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px #000000;
    transition: 0.5s;
  }
  
  .Dev-Yan{
    box-shadow: 0 0 25px #aaaaaa;
  }
  
  .Dev-Yan img{
    position: absolute;
    width: 100%;
    mix-blend-mode: lighten;
    margin-top: -5%;
    
  }

  .introduction {
    height: 0%;
    width: 55%;
    font-size: 22px;
}

.box-2 {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    background-color: #1e1e1e;
    color:  #1e1e1e;
    backdrop-filter: blur(10px);
    z-index: -1;
}
  
section div.background-section {
    width: 100%;
    height: 10%;
    margin-top: -44%;
    position: relative; 
    left: 0;
    z-index: -4; 
}

section div.background-section video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}